.ProjectList {
    width: 100vw;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 20vh;
    padding-bottom: 36px;
}

@media (max-width: 768px) {
    .ProjectList {
        padding-top: 32px;
        padding-bottom: 90px;
    }
}