@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --portfolio-bg: hsl(220, 13%, 9%);
}

* {
  font-family: "Nunito Sans", sans-serif;
  color: antiquewhite;
  padding: 0;
  margin: 0;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
  scroll-behavior: smooth;
}

/* 1) Chrome, Safari e Opera */
*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* 2) Rimuove eventuali background-color in stato :active su link e bottoni */
a:active,
button:active,
input:active,
label:active {
  background-color: transparent !important;
}

/* 3) (Opzionale) Se volessi neutralizzare anche la selezione di testo */
*::selection {
  background: transparent;
}

body {
  background: var(--portfolio-bg);
}

.App {
  text-align: center;
  background: radial-gradient(circle at 50% 20%, hsla(207, 90%, 54%, 0.15) 0%, transparent 50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}